<!DOCTYPE html>
<html>
  <head>
    <title>Reports module</title>
    <link rel="stylesheet" href="{{ 'css/app.css' | asset_path }}">
  </head>
  <body class="p-20">
    {{ content_for_layout }}
  </body>
</html>
