<!DOCTYPE html>
  <html>
    <head>
      <title>Reports module</title>
      <link rel="stylesheet" href="{{ 'css/app.css' | asset_path }}">
    </head>
    <body>
      {{ content_for_layout }}
    </body>
  </html>
  