/*
  styling for the push notifications demo app

  layout
  intro page
  header
*/



/* layout
============================================================================ */
.app-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-container {
  width: 100%;
  max-width: 700px;
  margin-block: auto;
  margin-inline: auto;
}



/* intro page
============================================================================ */
.app-intro {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.app-intro-content .pos-heading-2 {
  margin-block-end: var(--pos-padding-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pos-gap-button-button);
}

.app-intro-nav {
  display: flex;
  position: relative;
  justify-content: center;

  font-weight: 500;
}

  .app-intro-nav a {
    height: var(--pos-height-button);
    padding-inline: calc(var(--pos-padding-button) * 2);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    transition-delay: 0s;
  }

  .app-intro-nav a:hover,
  .app-intro-nav a:active {
    color: var(--pos-color-highlight-text);

    transition-delay: .1s;
  }

  .app-intro-nav li:hover,
  .app-intro-nav li:has(a:focus-visible) {
    anchor-name: --app-user-intro-nav-active;
  }

  .app-intro-nav:before {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;

    border-radius: var(--pos-radius-button);
    background-color: transparent;

    transition: all .2s ease-in-out;

    content: '';
  }

  .app-intro-nav:has(li:hover):before,
  .app-intro-nav:has(a:focus-visible):before {
    background-color: var(--pos-color-highlight-background);
  }

  @supports (anchor-name: --app-user-intro-nav-active) {
    .app-intro-nav:before {
      width: anchor-size(width);
      height: anchor-size(height);
      position-anchor: --app-user-intro-nav-active;
      inset-inline-start: anchor(start);
    }
  }

  .app-intro-nav:has(a:active):before {
    scale: .96;
  }

.app-intro-footer {
  grid-row: 2;
  padding: var(--pos-padding-page);

  text-align: center;
  color: var(--pos-color-content-text-supplementary);
}



/* header
============================================================================ */
.app-nav {
  margin-block-end: var(--pos-padding-page);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--pos-gap-button-button);
}

.app-nav-brand {
  margin-inline-end: auto;

  font-weight: 600;
}

.app-nav-user {
  display: flex;
  align-items: center;
  gap: .5em;
}

.app-nav-link {
  padding-inline: var(--pos-padding-button);
  display: inline-flex;
  align-items: center;

  font-weight: 500;
}