/*
  styling for the example chat application

  page background and font
  intro page
  user login form
  main header
  people list
  empty list information
*/



/* page background and font
============================================================================ */
.pos-app body {
  max-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  background-color: var(--pos-color-page-background);
}


/* intro page
============================================================================ */
.app-chat-intro {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 3;

  text-align: center;
}

/* heading */
.app-chat-intro .pos-heading-2 {
  margin-block-end: var(--pos-padding-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pos-gap-title-content);
}

  .app-chat-intro .pos-heading-2 img {
    width: 3rem;
    height: auto;
  }

/* navigation */
.app-chat-intro-nav {
  display: flex;
  position: relative;
  justify-content: center;

  font-weight: 500;
}

  .app-chat-intro-nav a {
    height: var(--pos-height-input);
    padding-inline: var(--pos-padding-input);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .app-chat-intro-nav a:hover,
  .app-chat-intro-nav a:active {
    color: inherit;
  }

  .app-chat-intro-nav li:hover,
  .app-chat-intro-nav li:has(a:focus-visible) {
    anchor-name: --app-chat-intro-nav-active;
  }

  .app-chat-intro-nav:before {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;

    border-radius: var(--pos-radius-panel);
    background-color: transparent;

    transition: all .2s ease-in-out;

    content: '';
  }

  .app-chat-intro-nav:has(li:hover):before,
  .app-chat-intro-nav:has(a:focus-visible):before {
    background-color: var(--pos-color-light-highlight-background);
  }

  @supports (anchor-name: --app-chat-intro-nav-active) {
    .app-chat-intro-nav:before {
      width: anchor-size(width);
      height: anchor-size(height);
      position-anchor: --app-chat-intro-nav-active;
      inset-inline-start: anchor(start);
    }
  }

  .app-chat-intro-nav:has(a:active):before {
    scale: .96;
  }

/* footer */
.app-chat-intro-footer {
  margin-block-start: auto;
  padding: var(--pos-padding-page);

  text-align: center;
  color: var(--pos-color-content-text-supplementary);
}



/* user login form
============================================================================ */
.pos-app body:has(.pos-user-content) {
  
  grid-template-rows: 1fr;
}

.pos-user-content {
  align-self: center;
  justify-self: center;
}



/* main header
============================================================================ */
#pos-chat-header-secondaryNavigationToggle {
  position: absolute;
  inset-inline-start: -100vw;
}

.pos-chat-header {
  width: 100%;
  position: sticky;
  inset-block-start: 0;
  z-index: 10;
}

/* primary navigation */
.pos-chat-header-nav-primary {
  padding-inline: calc(var(--pos-padding-page) * 2);
  display: flex;
  justify-content: space-between;
  
  border-bottom: 1px solid var(--pos-color-frame);
  background-color: var(--pos-color-page-background);

  text-transform: uppercase;
  font-family: var(--pos-font-navigation);
  font-weight: 500;
}

  .pos-chat-header-nav-primary ul {
    display: flex;
    gap: var(--pos-gap-button-button);
  }

  .pos-chat-header-nav-primary li.active {
    anchor-name: --pos-chat-header-active;
  }

  /* fallback active indicator for browsers not supporting anchor positioning */
  .pos-chat-header-nav-primary li.active {
    position: relative;
  }

  .pos-chat-header-nav-primary li.active:before {
    height: 3px;
    position: absolute;

    inset-inline: 0;
    inset-block-end: -1px;

    background-color: var(--pos-color-content-text);

    content: '';
  }

  .pos-chat-header-nav-primary li.active:after {
    width: 8px;
    height: 4px;
    position: absolute;
    inset-inline-start: calc(50% - 4px);
    inset-block-end: -4px;

    background-color: var(--pos-color-content-text);
    clip-path: polygon(50% 100%, 0 0, 100% 0);

    content: '';
  }
  /* end fallback */

  .pos-chat-header-nav-primary a {
    padding-block: var(--pos-gap-button-button);
    display: flex;

    color: inherit;
  }

  .pos-chat-header-nav-primary a:hover,
  .pos-chat-header-nav-primary a:active {
    color: inherit;
  }

  .pos-chat-header-nav-primary a:focus-visible {
    color: var(--pos-color-interactive-hover);
  }

  /* profile menu */
  #pos-chat-header-nav-primary-profile {
    margin-inline-end: calc(var(--pos-padding-page) / -2);
    padding-inline: calc(var(--pos-padding-page) / 2);
    padding-block: calc(var(--pos-gap-button-button) / 2);
    margin-block: calc(var(--pos-gap-button-button) / 2);

    border-radius: var(--pos-radius-panel);
    background-color: transparent;

    user-select: none;

    transition: background-color .2s ease-in-out;
  }

  #pos-chat-header-nav-primary-profile:hover {
    background-color: var(--pos-color-light-highlight-background);
  }

  #pos-chat-header-nav-primary-profile:focus-visible {
    background-color: var(--pos-color-light-highlight-background);

    color: var(--pos-color-interactive-hover);
  }

    @supports (anchor-name: --pos-chat-header-active) {

      /* disable fallback */
      .pos-chat-header-nav-primary li.active:before {
        display: none;
      }

      .pos-chat-header-nav-primary li.active:after {
        display: none;
      }
      /* end disable fallback */

      #pos-chat-header-activeIndicator {
        width: anchor-size(width);
        height: 3px;
        position: absolute;
    
        position-anchor: --pos-chat-header-active;
        inset-inline-start: anchor(start);
        inset-inline-end: anchor(end);
        inset-block-end: 0;
    
        background-color: var(--pos-color-content-text);
    
        transition: all .2s ease-in-out;
      }

      #pos-chat-header-activeIndicator:before {
        width: 8px;
        height: 4px;
        position: absolute;
        inset-inline-start: calc(50% - 4px);
        inset-block-end: -4px;

        background-color: var(--pos-color-content-text);
        clip-path: polygon(50% 100%, 0 0, 100% 0);

        content: '';
      }

      .pos-chat-header-nav-primary li.active {
        color: revert;
      }

      .pos-chat-header-nav-primary:has(li:hover) li.active {
        anchor-name: --null;
      }

      .pos-chat-header-nav-primary:has(li:hover) li:hover {
        anchor-name: --pos-chat-header-active;
      }

    }

/* secondary navigation */
.pos-chat-header-nav-secondary {
  padding: 4px var(--pos-padding-page);
  position: absolute;
  inset-block-start: calc(100% - 4px);
  inset-inline-end: 0;
  overflow: hidden;

  opacity: 0;
  scale: 0;
  translate: calc(var(--pos-padding-page) * -1) calc(var(--pos-gap-button-button) * -2);
  transform-origin: top right;

  transition: all .2s ease-in-out;
}

  /* submenu arrow */
  .pos-chat-header-nav-secondary:before {
    width: 8px;
    height: 4px;
    position: absolute;
    inset-inline-end: calc(var(--pos-padding-page) * 3);
    inset-block-start: 0;

    background-color: var(--pos-color-frame);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);

    content: '';
  }

  .pos-chat-header:has(#pos-chat-header-secondaryNavigationToggle:checked) .pos-chat-header-nav-secondary {
    opacity: 1;
    translate: 0 -4px;
    scale: 1;
  }

  @media (max-width: 700px) {
    .pos-chat-header-nav-secondary {
      height: 80vh;
      inset-inline-start: 0;
    }
  }

  .pos-chat-header-nav-secondary-content {
    overflow: auto;

    background-color: var(--pos-color-content-background);
    border: 1px solid var(--pos-color-frame);

    border-radius: var(--pos-radius-panel);
  }

  .pos-chat-header-nav-secondary ul:not(:first-child) {
    border-block-start: 1px solid var(--pos-color-frame);
  }

  .pos-chat-header-nav-secondary a,
  .pos-chat-header-nav-secondary button,
  .pos-chat-header-nav-secondary li:not(:has(a)):not(:has(button)) {
    width: 100%;
    padding: var(--pos-gap-button-button);
    display: flex;
  }

  .pos-chat-header-nav-secondary a,
  .pos-chat-header-nav-secondary button {
    position: relative;
    cursor: pointer;
  }
  
  .pos-chat-header-nav-secondary button:hover:after {
    position: absolute;
    inset: var(--pos-gap-button-button-small);

    border-radius: var(--pos-radius-panel);
    background-color: color-mix(in srgb, var(--pos-color-interactive-hover) 10%, transparent 90%);

    content: '';
  }
  
  .pos-chat-header-nav-secondary strong {
    font-weight: 500;
  }




/* people list
============================================================================ */
.pos-chat-people {
  padding-block: var(--pos-padding-page);
  padding-inline: calc(var(--pos-padding-page) * 2 - var(--pos-gap-button-button));
}

.pos-chat-people ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pos-gap-section-elements);
}

.pos-chat-people a {
  padding: var(--pos-gap-button-button);
  display: flex;

  border-radius: var(--pos-radius-panel);

  font-weight: 500;

  transition: background-color .1s linear;
}

.pos-chat-people a:hover {
  background-color: var(--pos-color-highlight-background);
}

.pos-chat-people a:focus-visible {
  background-color: var(--pos-color-highlight-background);

  color: var(--pos-color-interactive-hover);
}


/* empty list information
============================================================================ */
.pos-chat-info {
  padding: var(--pos-padding-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pos-gap-section-elements);
}